body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: whitesmoke;
}

.triangle {
    width: 125px;
    float: left;
    text-align: left;
    margin-top: 25px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}

.nav {
    background-color:white;
    color: black;
    list-style: none;
    text-align: right;
    padding: 60px;
    padding-bottom: 63;
    margin: 0px;
    
}
.nav li {
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;
}
.nav li a {
    text-decoration: none;
    color: black;
    float: left;
}
.nav > li > a:hover {
    color: darkgray;
}
.logo {
    float: left;
    color: black;

    font-weight: bold;
    font-size: 13px;
    
}
.logo a {
    text-decoration: none;
    color: black;
    padding: none;

}
.banner {
    width: 100%;
    display: block;
    
}
.banner .banner-image {
    width: 100%;
    display: block;
   margin: none;
   padding: none;
   height: 50%;
}